NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://backend@localhost:5432/cowrywise_dev?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="replace-with-a-generated-64-char-hex-secret"
ACCESS_TOKEN_TTL_SECONDS= 
REFRESH_TOKEN_TTL_SECONDS=
RESET_PASSWORD_TOKEN_TTL_SECONDS=
PAYSTACK_SECRET_KEY=paystack_test_key

MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT="2525"
MAILTRAP_USER="your-mailtrap-username"
MAILTRAP_PASS="your-mailtrap-password"
MAIL_FROM="Cowrywise <noreply@cowrywise.test>"

ALLOWED_ORIGINS="http://localhost:3000"